.back-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 180px;
  position: relative;
  perspective: 1000px;
}

.back-card {
  width: 100px;
  height: 150px;
  border-radius: 2px;
  border: 1px solid #8a0000;
  background: linear-gradient(135deg, #fdfdfd, #e3e3e3);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  position: absolute;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.back-card-clickable {
  box-shadow: 0 0 15px #facc15;
  cursor: pointer;
  transition: all 0.3s ease;
}

.back-card-clickable:hover {
  box-shadow: 0 0 25px #facc15, 0 0 10px rgba(250, 204, 21, 0.5);
  filter: brightness(1.1);
}

/* .back-card:nth-child(1) {
  transform: rotate(-2deg) translate(2px, -3px);
}
.back-card:nth-child(2) {
  transform: rotate(1deg) translate(2px, -2px);
}
.back-card:nth-child(3) {
  transform: rotate(-1deg) translate(-1px, 2px);
}
.back-card:nth-child(4) {
  transform: rotate(3deg) translate(3px, 1px);
}
.back-card:nth-child(5) {
  transform: rotate(-4deg) translate(-2px, 4px);
}
.back-card:nth-child(6) {
  transform: rotate(2deg) translate(-2px, -1px);
}
.back-card:nth-child(7) {
  transform: rotate(1.5deg) translate(2px, 3px);
}
.back-card:nth-child(8) {
  transform: rotate(-2.5deg) translate(-3px, 1px);
}
.back-card:nth-child(9) {
  transform: rotate(0.5deg) translate(1px, -3px);
} */

.back-card-container:hover .back-card:last-child {
  transform: scale(1.03) translateY(-4px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
  z-index: 10;
}
