.face-card {
  flex: 0 0 auto;          
  width: 100px;
  height: 150px;
  border: 1px solid #aaa;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 24px;
  font-weight: bold;
  color: #333;

  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
}

.face-card:hover {
  transform: translateY(-8px) scale(1.05);
  box-shadow: 0 6px 16px rgba(0,0,0,0.25);
}

/* .face-card:active {
  transform: translateY(-4px) scale(3);
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
} */